:root {
  --albastru-inchis: #0e1c40;
  --albastru-cer: #2a53c1;
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  overflow-x: hidden;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}
