:root {
  --albastru-scris: #0e1c40;
  --albastru-cer: #2a53c1;
  --albastru-inchis: #172a47;
  --gri-deschis: #f2f2f2;
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  overflow-x: hidden;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
}

.block-screen {
  position: fixed;
}
