.banner {
  display: flex;
  flex-direction: column;
  width: 100%;

  .titles {
    padding: 5vh 20px 25px 20px;
    color: var(--albastru-scris);

    .name {
      font-family: "Arial Black", arial-w01-black, sans-serif;
      font-size: 60px;
      margin: auto;
      letter-spacing: -2px;
    }

    .quote {
      font-family: "Arial Black", arial-w01-black, sans-serif;
      font-size: 25px;
      margin: auto;
      letter-spacing: -1px;
    }
  }

  .image-wrapper {
    width: 100%;
    overflow: hidden;
    aspect-ratio: 16 / 10;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }
  }

  .breaker {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: var(--albastru-cer);
    padding: 20px 30px 30px 30px;
    gap: 0.5em;

    .simple-text {
      color: white;
      font-size: 19px;
      font-family: "arial black", arial-w01-black, sans-serif;
    }

    .slider {
      height: auto;
      position: relative;
      overflow: hidden;

      .slider-link {
        font-size: 20px;
        font-weight: lighter;
        text-decoration: none;
        color: white;
        padding: 0px 10px 0px 2px;
      }

      .slider-link:hover {
        cursor: pointer;
      }
    }
  }
}
