.banner {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: aliceblue;

  .titles {
    padding: 5vh 20px 25px 20px;
    color: var(--albastru-scris);

    .name {
      font-family: "Arial Black", arial-w01-black, sans-serif;
      font-size: 55px;
      margin: auto;
      letter-spacing: -2px;
    }

    .quote {
      font-family: "Arial Black", arial-w01-black, sans-serif;
      font-size: 20px;
      margin: auto;
    }
  }

  .image-wrapper {
    width: 100%;
    overflow: hidden;
    aspect-ratio: 16 / 9;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }
  }

  .breaker {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
    background-color: var(--albastru-cer);
    padding: 20px 30px;
    gap: 0.7em;

    .simple-text {
      font-size: 19px;
      font-family: "arial black", arial-w01-black, sans-serif;
    }

    .slider {
      min-height: 8vh;

      .slider-link {
        font-family: "poppins-extralight", poppins, sans-serif;
        font-weight: thinner;
        color: lightgray;
        text-decoration: none;
        font-size: 20px;
      }

      .slider-link:hover {
        cursor: pointer;
      }
    }
  }
}
