.banner {
  display: flex;
  flex-direction: column;
  width: 100%;

  .titles {
    padding: 5vh 20px 25px 20px;
    color: var(--albastru-scris);

    .name {
      font-family: "Arial Black", arial-w01-black, sans-serif;
      font-size: 60px;
      margin: auto;
      letter-spacing: -2px;
    }

    .quote {
      font-family: "Arial Black", arial-w01-black, sans-serif;
      font-size: 25px;
      margin: auto;
      letter-spacing: -1px;
    }
  }

  .image-wrapper {
    width: 100%;
    overflow: hidden;
    aspect-ratio: 16 / 10;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }
  }

  .breaker {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: var(--albastru-cer);
    padding: 20px 30px;
    gap: 0.5em;

    .simple-text {
      color: white;
      font-size: 19px;
      font-family: "arial black", arial-w01-black, sans-serif;
    }

    .slider {
      height: auto;
      position: relative;
      overflow: hidden;
      padding-bottom: 10px;

      .slider-link {
        font-size: 20px;
        font-weight: lighter;
        text-decoration: none;
        color: white;
        padding: 0px 10px 0px 2px;
      }

      .slider-link:hover {
        cursor: pointer;
      }
    }
  }
}

@media (min-width: 1024px) {
  .banner {
    padding-left: 5vw;
    padding-right: 5vw;

    .titles {
      display: flex;
      flex-direction: row;
      gap: 20px;

      .name {
        margin: 0;
        font-size: 130px;
      }

      .quote {
        max-width: 156px;
        margin: 0;
        align-self: center;
        padding: 10px 20px;
        border-left: 4px solid var(--albastru-scris);
      }
    }

    .image-wrapper {
      aspect-ratio: 16/6;

      video {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
        display: block;
      }
    }

    .breaker {
      flex-direction: row;

      .simple-text {
        width: 20vw;
      }

      .slider {
        width: 60vw;
      }
    }
  }
}
