.footer {
  width: 100%;
  height: 60vh;
  background-color: blue;
  color: white;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;

  h1 {
    width: 80%;
    text-align: center;
  }

  .footer-link {
    text-decoration: none;
    color: white;
  }
}
