.footer {
  width: 100%;
  height: 55vh;
  background-color: blue;
  color: white;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;

  h1 {
    width: 80%;
    text-align: center;
  }

  .user-input {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 10px;
    gap: 1vh;

    label {
      font-weight: bold;
      font-size: x-large;
      margin-bottom: 1vh;
    }

    input {
      border: none;
      font-size: x-large;
      padding-bottom: 5px;
      border-bottom: lightgray 2px solid;
      color: white;
      background-color: blue;
      border-bottom: 1px solid white;
    }

    input:focus {
      outline: none;
    }

    button {
      border: none;
      min-height: 5vh;
      background-color: darkolivegreen;
      color: white;

      span {
        font-size: x-large;
        font-weight: bold;
      }
    }

    button:hover {
      cursor: pointer;
      background-color: olivedrab;
    }

    p {
      margin: 0;
    }
  }

  .logos {
    width: 100%;
    gap: 1em;
    display: flex;
    justify-content: center;
  }

  p {
    text-align: center;

    .footer-link {
      text-decoration: none;
      color: white;
    }
  }
}
