.footer {
  width: 100%;
  // height: 55vh;
  gap: 1.5em;
  background-color: var(--albastru-inchis);
  color: white;
  padding: 40px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;

  .sides {
    display: flex;
    flex-direction: row;

    .left-side {
      h1 {
        text-align: center;
        font: normal normal normal 24px "arial black", arial-w01-black,
          sans-serif;
        margin: 0;
        margin-bottom: 1vh;
      }

      .user-input {
        width: 100%;
        display: flex;
        flex-direction: column;
        padding: 3vh 10px;
        gap: 0.7em;

        label {
          font: normal normal normal 20px "arial black", arial-w01-black,
            sans-serif;
        }

        div {
          border-bottom: lightgray 1px solid;
          padding: 8px 12px;
          min-height: 40px;

          input {
            min-height: 40px;
            width: 100%;
            border: none;
            font: normal normal normal 20px poppins-extralight, poppins,
              sans-serif;
            color: lightgray;
            background-color: var(--albastru-inchis);
          }

          input:focus {
            outline: none;
          }
        }

        div:hover {
          border-bottom: 1.5px solid white;
        }

        button {
          border: none;
          padding: 10px;
          //min-height: 5vh;
          background-color: var(--albastru-cer);
          color: white;

          span {
            font: normal normal normal 23.540000000000003px / 1.4em
                "arial black",
              arial-w01-black, sans-serif;
          }
        }

        button:hover {
          cursor: pointer;
          background-color: #1c3781;
        }

        p {
          margin: 0;
        }
      }

      .logos {
        width: 100%;
        gap: 1em;
        display: flex;
        justify-content: center;

        a {
          text-decoration: none;
          cursor: pointer;
          color: white;
        }
      }
    }

    .right-side {
      display: none;
    }
  }

  p {
    text-align: center;

    .footer-link {
      text-decoration: none;
      color: white;
    }
  }
}

@media (min-width: 1024px) {
  .footer {
    padding: 50px 20px 10px;

    .sides {
      width: 100%;
      justify-content: space-around;

      .left-side {
        min-width: 40vw;
        .logos {
          justify-content: unset;
        }
      }

      .right-side {
        display: flex;
        min-width: 10vw;

        ul {
          list-style: none;
          display: flex;
          flex-direction: column;
          gap: 1.5em;
          padding: 0px;

          .menu-element {
            text-decoration: none;
            color: white;
            font: normal normal normal 20px "arial black", arial-w01-black,
              sans-serif;

            &.selected {
              color: lightgrey;
            }
          }

          .menu-element:hover {
            cursor: pointer;
            color: lightgrey;
          }
        }
      }
    }
  }
}
