.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  min-height: 10vh;
  padding: 20px;
  background-color: var(--albastru-cer);

  .search-area {
    display: flex;
    flex-direction: column;
    background-color: white;
    position: absolute;
    z-index: 10;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px;

    .results-area {
      .results-found {
        display: flex;
        flex-direction: column;
        gap: 1em;
        align-items: baseline;

        .result {
          display: flex;
          flex-direction: row;
          gap: 0.5em;

          .image-wrapper {
            overflow: hidden;
            width: 100%;
            aspect-ratio: 5 / 4;

            img {
              width: 100%;
              height: 100%;
              object-fit: cover;
              object-position: center;
            }
          }
        }
      }
    }
  }

  .left-side {
    display: flex;
    flex-direction: row;
    gap: 30px;

    .logo {
      min-width: 25px;
    }

    .search {
      min-width: 30px;
    }
  }

  .navigation-area {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    position: absolute;
    z-index: 10;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px;
    background-color: cadetblue;

    ul {
      list-style: none;
      display: flex;
      flex-direction: column;

      .menu-element {
        text-decoration: none;
        color: white;
      }
    }

    .close-button {
      min-height: 25px;
      color: white;
    }
  }

  .right-side {
    .nav-button {
      color: white;
      min-width: 25px;
      min-height: 25px;
    }
  }
}
