.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  min-height: 10vh;
  padding: 20px;
  background-color: var(--albastru-cer);

  .backdrop {
    z-index: 9;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.4);
  }

  .search-area {
    display: flex;
    flex-direction: column;
    background-color: white;
    transition: ease-in;
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    width: 100%;
    max-height: 90vh;
    min-height: 30vh;
    // height: 100%;
    padding: 40px 20px 30px 40px;

    .search-container {
      display: flex;
      flex-direction: row;
      gap: 0.5em;

      .left-side {
        border: 2px solid var(--albastru-inchis);
        min-height: 6vh;
        gap: 0px;

        .lucide.lucide-search {
          min-height: auto;
          min-width: auto;
          margin: 0px 15px;
          align-self: center;
        }

        .lucide.lucide-search {
          cursor: pointer;
        }

        input {
          border: none;
          font: normal normal lighter 18px proxima-n-w01-reg, sans-serif;
          width: 50vw;
          padding-right: 15px;
        }

        input:focus {
          outline: none;
        }
      }

      .left-side:focus-within {
        border: 2px solid lightgrey;
      }

      .right-side {
        padding: 10px;
        align-self: center;
        font: normal normal normal 18px proxima-n-w01-reg, sans-serif;
      }

      .right-side:hover {
        cursor: pointer;
      }
    }

    .results-area {
      padding-top: 35px;
      display: flex;
      flex-direction: column;
      gap: 1em;

      p {
        font-size: 23px;
        margin: 0;
        font-family: "arial black", arial-w01-black, sans-serif;
        color: var(--albastru-cer);
      }

      .results-found {
        display: flex;
        flex-direction: column;
        gap: 1.5em;
        align-items: baseline;

        .actual-results {
          display: flex;
          flex-direction: column;
          gap: 1.5em;
          align-items: baseline;

          .result {
            display: flex;
            flex-direction: row;
            gap: 0.5em;
            width: 100%;

            .image-wrapper {
              width: 150px;
              max-width: 35vw;
              min-width: 100px;
              flex-shrink: 0;
              aspect-ratio: 1;
              overflow: hidden;

              img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                object-position: center;
              }
            }

            .text {
              display: flex;
              flex-direction: column;
              gap: 0.5em;

              .title {
                font-family: "arial black", arial-w01-black, sans-serif;
                font-size: 19px;
              }

              .description {
                font: normal normal lighter 16px proxima-n-w01-reg, sans-serif;
              }
            }
          }
        }

        button {
          border: none;
          margin-top: 20px;
          height: 5vh;
          padding: 10px 16px;
          background-color: var(--albastru-inchis);

          span {
            color: white;
            font-family: proxima-n-w01-reg, sans-serif;
            font-size: 16px;
          }
        }

        button:hover {
          cursor: pointer;
          text-decoration: underline white;
        }
      }
    }
  }

  .left-side {
    display: flex;
    flex-direction: row;
    gap: 30px;

    .logo {
      min-width: 25px;
    }

    .logo:hover {
      cursor: pointer;
    }

    .search {
      min-width: 30px;
    }

    .search:hover {
      cursor: pointer;
    }
  }

  .navigation-area {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    z-index: 10;
    top: 0px;
    left: 100%;
    width: 100%;
    height: 100%;
    position: fixed;
    padding: 20px;
    overflow: hidden;
    background-color: var(--albastru-cer);

    &.show {
      animation-name: openNavBar;
      animation-duration: 1s;
      animation-fill-mode: forwards;
    }

    &.close {
      animation-name: closeNavBar;
      animation-duration: 1s;
      animation-fill-mode: forwards;
    }

    ul {
      list-style: none;
      display: flex;
      flex-direction: column;
      padding: 20px 0px 0px 20px;
      margin: 0px;
      gap: 3em;

      .menu-element {
        text-decoration: none;
        color: white;
        font-size: 30px;
        font-weight: lighter;

        &.selected {
          color: lightgrey;
        }
      }

      .menu-element:hover {
        cursor: pointer;
      }
    }

    .close-button {
      min-width: 40px;
      min-height: 40px;
      color: white;
    }

    .close-button:hover {
      cursor: pointer;
    }
  }

  .right-side {
    .nav-button {
      color: white;
      min-width: 25px;
      min-height: 25px;
    }

    .nav-button:hover {
      cursor: pointer;
    }
  }
}

@keyframes openNavBar {
  0% {
    top: 0px;
    left: 100%;
    opacity: 0.2;
  }
  50% {
    opacity: 0.8;
  }
  100% {
    top: 0px;
    left: 0px;
    opacity: 1;
  }
}

@keyframes closeNavBar {
  0% {
    top: 0px;
    left: 0px;
    opacity: 1;
  }
  50% {
    opacity: 0.8;
  }
  100% {
    top: 0px;
    left: 100%;
    opacity: 0.2;
  }
}

@media (min-width: 1024px) {
  .header {
    padding-right: 5vw;
    padding-left: 0px;

    .search-area {
      max-height: 55vh;

      .results-area {
        .results-found {
          .actual-results {
            display: flex;
            flex-direction: row;
            align-items: unset;

            .result {
              width: 30vw;

              .image-wrapper {
                width: 120px;
                max-width: 220px;
              }
            }

            .text {
              .title {
                font-size: 17px;
              }
            }
          }
        }
      }
    }

    .left-side {
      display: flex;
      flex-direction: row;
      min-width: 50vw;
      gap: 0px;

      div {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 5vw;

        .logo {
          max-width: 25px;
        }
      }

      ul {
        list-style: none;
        display: flex;
        flex-direction: row;
        gap: 2em;
        padding: 0px;

        .menu-option {
          text-decoration: none;
          color: white;
          font: normal normal normal 18px "arial black", arial-w01-black,
            sans-serif;

          &.selected {
            color: lightgrey;
          }
        }

        .menu-option:hover {
          cursor: pointer;
        }
      }
    }

    .right-side {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      min-width: 30vw;

      .search {
        max-width: 30px;
      }

      .search:hover {
        cursor: pointer;
      }

      .logos {
        display: flex;
        flex-direction: row;
        gap: 1em;

        a {
          color: white;
          text-decoration: none;
        }
      }
    }
  }
}
