.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  min-height: 10vh;
  padding: 20px;
  background-color: var(--albastru-cer);

  .search-area {
    display: flex;
    flex-direction: column;
    background-color: white;
    position: absolute;
    z-index: 10;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px;

    .results-area {
      .results-found {
        display: flex;
        flex-direction: column;
        gap: 1em;
        align-items: baseline;

        .result {
          display: flex;
          flex-direction: row;
          gap: 0.5em;

          .image-wrapper {
            overflow: hidden;
            width: 100%;
            aspect-ratio: 5 / 4;

            img {
              width: 100%;
              height: 100%;
              object-fit: cover;
              object-position: center;
            }
          }
        }
      }
    }
  }

  .left-side {
    display: flex;
    flex-direction: row;
    gap: 30px;

    .logo {
      min-width: 25px;
    }

    .search {
      min-width: 30px;
    }
  }

  .navigation-area {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    z-index: 10;
    top: 0px;
    left: 100%;
    width: 100%;
    height: 100%;
    position: fixed;
    padding: 20px;
    overflow: hidden;
    background-color: var(--albastru-cer);

    &.show {
      animation-name: openNavBar;
      animation-duration: 1s;
      animation-fill-mode: forwards;
    }

    &.close {
      animation-name: closeNavBar;
      animation-duration: 1s;
      animation-fill-mode: forwards;
    }

    ul {
      list-style: none;
      display: flex;
      flex-direction: column;
      padding: 20px 0px 0px 20px;
      margin: 0px;
      gap: 3em;

      .menu-element {
        text-decoration: none;
        color: white;
        font-size: 30px;
        font-weight: lighter;

        &.selected {
          color: lightgrey;
        }
      }
    }

    .close-button {
      min-width: 40px;
      min-height: 40px;
      color: white;
    }
  }

  .right-side {
    .nav-button {
      color: white;
      min-width: 25px;
      min-height: 25px;
    }
  }
}

@keyframes openNavBar {
  0% {
    top: 0px;
    left: 100%;
    opacity: 0.2;
  }
  50% {
    opacity: 0.8;
  }
  100% {
    top: 0px;
    left: 0px;
    opacity: 1;
  }
}

@keyframes closeNavBar {
  0% {
    top: 0px;
    left: 0px;
    opacity: 1;
  }
  50% {
    opacity: 0.8;
  }
  100% {
    top: 0px;
    left: 100%;
    opacity: 0.2;
  }
}
