.other-content {
  padding: 20px;
  width: auto;
  text-align: center;
}

.home-content {
  .content-section {
    padding: 30px 20px 20px 20px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;

    h2 {
      font-family: "arial black", arial-w01-black, sans-serif;
      color: var(--albastru-cer);
      margin: 0;
    }

    &-articles {
      display: flex;
      flex-direction: column;
      gap: 1.5em;

      .home-article {
        display: flex;
        flex-direction: column;

        .image-wrapper {
          width: 100%;
          overflow: hidden;
          aspect-ratio: 16 / 9;

          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
          }
        }

        h1 {
          font-family: "arial black", arial-w01-black, sans-serif;
          font-size: 25px;
          text-align: start;
          padding: 15px 20px;
          margin: auto;

          a {
            text-decoration: none;
            cursor: pointer;
            color: var(--albastru-inchis);
          }
        }

        hr {
          width: 90%;
          margin: 0;
          align-self: center;
        }

        .categories {
          display: flex;
          flex-direction: row;
          align-self: center;
          padding: 10px 0px;
          width: 90%;
          gap: 0.5em;

          p {
            // height: auto;
            // width: auto;
            text-align: center;
            align-self: center;
            margin: 0;
            color: white;
            background-color: var(--albastru-inchis);
            border-radius: 5px;
            padding: 5px;
          }
        }
      }
    }

    button {
      align-self: center;
      background-color: #084ebd;
      color: white;
      border: none;
      min-height: 3vh;
      min-width: 50vw;
      box-shadow: 5px 5px 10px 1px rgb(0 0 0 / 0.3);
      border-radius: 2px;
    }

    button:hover {
      cursor: pointer;
      background-color: var(--albastru-inchis);
    }
  }

  .content-section:nth-child(odd) {
    background-color: white;
  }

  .content-section:nth-child(even) {
    background-color: var(--gri-deschis);
  }
}
