.news-content {
  .fake-button {
    width: 100%;
    display: flex;

    button {
      border: 5px red solid;
    }
  }

  .actual-content {
    .news-article {
      display: flex;
      flex-direction: column;

      .image-wrapper {
        width: 100%;
        overflow: hidden;
        aspect-ratio: 16 / 9;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          object-position: center;
        }
      }

      h1 {
        font-family: "arial black", arial-w01-black, sans-serif;
        font-size: 25px;
        text-align: start;
        padding: 15px 20px;
        margin: auto;

        a {
          text-decoration: none;
          color: var(--albastru-inchis);
        }
      }

      hr {
        width: 90%;
        margin: 0;
        align-self: center;
      }

      .categories {
        display: flex;
        flex-direction: row;
        align-self: center;
        padding: 10px 0px;
        width: 90%;
        gap: 0.5em;

        p {
          height: auto;
          width: auto;
          margin: 0;
          color: white;
          background-color: var(--albastru-inchis);
          border-radius: 5px;
          padding: 5px;
        }
      }
    }
  }
}
