.news-content {
  display: flex;
  flex-direction: column;
  align-items: center;

  .fake-button {
    width: 100%;
    display: flex;

    button {
      display: flex;
      flex-direction: row;
      gap: 0.2em;
      width: 100%;
      padding: 20px 30px;
      font-size: 19px;
      font-family: "arial black", arial-w01-black, sans-serif;
      color: var(--albastru-scris);
      background-color: white;
      text-align: start;
      border: none;
      border-block: 1px solid rgb(14, 28, 64, 0.3);

      .lucide.lucide-chevron-down {
        align-self: center;
      }
    }

    button:hover {
      cursor: pointer;
    }

    button:focus {
      background-color: white;
    }
  }

  .options-section {
    z-index: 10;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    min-height: 40vh;
    background-color: white;
    font-size: 20px;

    .actual-options {
      display: flex;
      flex-direction: column;
      padding: 10px 0px;

      .selected {
        background-color: #e0e0e0;
      }

      div {
        padding: 10px 24px;
        font: normal normal normal 20px proxima-n-w01-reg, sans-serif;
      }

      .not-selected:hover {
        background-color: #f0f0f0;
      }
    }

    hr {
      margin-bottom: 0px;
    }

    .close-options {
      display: flex;
      flex-direction: row;
      padding: 12px 24px 15px;
      gap: 1em;

      .lucide.lucide-x {
        align-self: center;
      }
    }

    .close-options:hover {
      background-color: #f0f0f0;
      cursor: pointer;
    }
  }

  .options-section:hover {
    cursor: pointer;
  }

  .overlay {
    z-index: 5;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.4);
  }

  .actual-content {
    display: flex;
    flex-direction: column;
    gap: 2em;

    .news-article {
      display: flex;
      flex-direction: column;

      .image-wrapper {
        width: 100%;
        overflow: hidden;
        aspect-ratio: 16 / 9;
        border-block: 1px solid rgb(14, 28, 64, 0.3);

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          object-position: center;
        }
      }

      .text {
        display: flex;
        flex-direction: column;

        h1 {
          font-family: "arial black", arial-w01-black, sans-serif;
          font-size: 25px;
          text-align: start;
          padding: 15px 20px;
          margin: auto;

          a {
            text-decoration: none;
            cursor: pointer;
            color: var(--albastru-inchis);
          }
        }

        .description {
          font-size: 20px;
          font-family: proxima-n-w01-reg, sans-serif;
          margin: 10px 20px 20px;
        }

        hr {
          width: 90%;
          margin: 0;
          align-self: center;
        }

        .categories {
          display: flex;
          flex-direction: row;
          align-self: center;
          padding: 10px 0px;
          width: 90%;
          gap: 0.5em;

          p {
            // height: auto;
            // width: auto;
            text-align: center;
            align-self: center;
            margin: 0;
            color: white;
            background-color: var(--albastru-inchis);
            border-radius: 10px;
            padding: 5px;
          }
        }
      }
    }
  }

  .show-button {
    background-color: #084ebd;
    color: white;
    border: none;
    min-height: 3vh;
    min-width: 50vw;
    box-shadow: 5px 5px 10px 1px rgb(0 0 0 / 0.3);
    border-radius: 2px;
    margin: 1em;
  }

  .show-button:hover {
    cursor: pointer;
    background-color: var(--albastru-inchis);
  }
}

@media (min-width: 1024px) {
  .news-content {
    padding: 10vh 5vw;
    background-color: var(--gri-deschis);
    gap: 2em;

    .options-section {
      z-index: unset;
      position: unset;
      bottom: unset;
      left: unset;
      width: 100%;
      min-height: unset;
      background-color: unset;
      font-size: unset;
      padding-left: 10vw;
      padding-right: 10vw;

      .actual-options {
        flex-direction: row;
        padding: 0px;
        gap: 2em;

        .selected {
          background-color: unset;
          color: var(--albastru-cer);
        }

        div {
          padding: 0px;
          font: normal normal normal 15px "arial black", arial-w01-black,
            sans-serif;
        }

        .not-selected:hover {
          background-color: unset;
          color: var(--albastru-cer);
        }
      }
    }

    .actual-content {
      gap: 2em;
      background-color: white;
      padding: 3vh 10vw;

      .news-article {
        flex-direction: row;
        width: 70vw;
        border: 1px solid black;
        gap: 1em;

        .image-wrapper {
          border-block: unset;
          width: unset;
          max-width: 35vw;
          min-width: 200px;
          flex-shrink: 0;
        }

        .text {
          flex-direction: column;
          padding: 20px;
          width: 100%;

          h1 {
            font-size: 19px;
            padding: 0px;

            a:hover {
              color: var(--albastru-cer);
            }
          }

          .description {
            font-size: 17px;
            margin-left: 0px;
            margin-right: 0px;
          }

          hr {
            width: 100%;
          }

          .categories {
            width: 100%;

            p {
              font-size: 15px;
            }
          }
        }
      }
    }

    .show-button {
      //min-height: 3vh;
      min-width: 15vw;
      padding: 5px;
    }
  }
}
