.resources-content {
  display: flex;
  flex-direction: column;
  gap: 1em;

  .resource {
    display: flex;
    flex-direction: column;
    padding: 30px 20px;

    .image-wrapper {
      width: 100%;
      overflow: hidden;
      aspect-ratio: 16 / 9;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
      }
    }

    .text {
      display: flex;
      flex-direction: column;

      h2 {
        font-family: "arial black", arial-w01-black, sans-serif;
        font-size: 25px;
        text-align: start;
        padding: 15px 20px;
        margin: auto;

        a {
          text-decoration: none;
          cursor: pointer;
          color: var(--albastru-inchis);
        }
      }
    }

    &:nth-child(odd) {
      background-color: white;
    }

    &:nth-child(even) {
      background-color: var(--gri-deschis);
    }
  }
}
