.resources-content {
  display: flex;
  flex-direction: column;
  gap: 1em;

  .resource {
    display: flex;
    flex-direction: column;
    padding: 30px 20px;

    .image-wrapper {
      width: 100%;
      overflow: hidden;
      aspect-ratio: 16 / 9;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
      }
    }

    .text {
      display: flex;
      flex-direction: column;

      h2 {
        font-family: "arial black", arial-w01-black, sans-serif;
        font-size: 25px;
        text-align: start;
        padding: 15px 20px;
        margin: auto;

        a {
          text-decoration: none;
          cursor: pointer;
          color: var(--albastru-inchis);
        }
      }

      .description {
        font-size: 18px;
        text-align: center;
      }
    }

    &:nth-child(odd) {
      background-color: white;
    }

    &:nth-child(even) {
      background-color: var(--gri-deschis);
    }
  }
}

@media (min-width: 1024px) {
  .resources-content {
    padding: 1vh 5vw;
    gap: 1.5em;

    .resource {
      flex-direction: row;
      padding: 30px 50px;
      gap: 1em;

      .image-wrapper {
        width: 30vw;
        overflow: hidden;
        aspect-ratio: 16 / 9;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          object-position: center;
        }
      }

      .text {
        width: 50vw;

        h2 {
          margin: 0;
        }

        .description {
          font-size: 19px;
          padding: 15px 20px;
        }
      }
    }
  }
}
