@use "./components/header";
@use "./components/banner";
@use "./components/homecontent";
@use "./components/searchcontent";
@use "./components/newscontent";
@use "./components/resourcescontent";
@use "./components/aboutuscontent";
@use "./components/footer";
